.myCard {
  height: 300px;
}
.myCard img {
  height: 100px;
}
.troncare {
  width: 100px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.detailCard {
  height: 620px !important;
}
.detailCard img {
  height: 200px !important;
}
